art-gallery/node_modules/
art-gallery/build/
art-gallery/.env.local
art-gallery/.cache/
art-gallery/logs/

ArtGalleryAPI/bin/
ArtGalleryAPI/obj/
ArtGalleryAPI/publish/
ArtGalleryAPI/*.nupkg
ArtGalleryAPI/project.lock.json
ArtGalleryAPI/project.fragment.lock.json
ArtGalleryAPI/*.user
ArtGalleryAPI/.vs/
ArtGalleryAPI/.idea/
ArtGalleryAPI/*.suo
ArtGalleryAPI/*.vscode/