.artworkForm {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Centraliza o formulário */
  margin: 0 auto; /* Centraliza na página */
  padding: 20px;
  background-color: #333; /* Cor de fundo leve */
  color: #fff;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.inputField {
  font-family: 'Lora', serif;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #4B0082; /* Borda roxa */
  border-radius: 8px;
  background-color: #f0f0f0; /* Cor de fundo cinza claro */
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #7B68EE; /* Cor da borda em foco */
}

.fileInput {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px dashed #4B0082; /* Borda tracejada para diferenciar o upload */
  border-radius: 8px;
  background-color: #fafafa;
}

.submitButton {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  padding: 12px;
  background-color: #4B0082; /* Cor roxa */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #7B68EE; /* Efeito hover */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .artworkForm {
    max-width: 90%; /* Expandir mais o formulário em telas pequenas */
  }
}

