.artworkGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

h2 {
  color: #6a0dad;
  font-weight: 700;
}
/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .artworkListContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

}