.whatsappButton {
  display: flex;
  alignItems: center;
  justifyContent: center;
  padding: 10px 20px;
  background-color: #25D366;
  border: none;
  borderRadius: 5px;
  cursor: pointer;
  color: white;
  fontSize: 16px;
}

.whatsappIcon {
  width: 24px;
  height: 20px;
  marginRight: 10px;
}